html, body {
	background: #FDFDFD;
	margin: 0;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.outer {
	width: 800px;
	margin: 0 auto;
	overflow: auto;
}

.inner {
	padding: 0;
	overflow: auto;
}

#header {
	display:none;
}


#passform {
	display: none;
}

#progressbar {
	display: none;
}

#print {
	display: none;
}

#about {
	display: none;
}

#footer {
	display: none;
}

.resultlabel {
	margin: 32px 0 4px 0;
	font-size: 24px;
}

#addr {
  	margin: 8px 0;
  	font-size: 18px;
}

@media screen and (max-width: 800px) {
	.outer {width: 100%;}
	.inner {padding: 0 12px;}	
	#private {font-size: 14px;}
}

@media screen and (max-width: 480px) {
	.outer {width: 100%;}
	.inner {padding: 0 12px;}	
	#private {font-size: 12px;}
}

@media screen and (max-width: 400px) {	
	#addr {font-size: 16px;}
	#private {font-size: 10px;}
}

@media screen and (max-width: 360px) {	
	#addr {font-size: 14px;}
	#private {font-size: 9px;}
}