html, body {
	background: #FDFDFD;
	margin: 0;
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;
}

.outer {
	width: 800px;
	margin: 0 auto;
	overflow: auto;
}

.inner {
	padding: 0;
	overflow: auto;
}

#header {
	height: 48px;
	background: #333333;
	font-size: 20px;
	line-height: 48px;
}
#header a {
  	text-decoration: none;
  	color: #FBFBFB;
}
#header a:visited {
  	color: #FBFBFB;
}

#content {
	margin-bottom: 24px;
}

.label {
	margin: 16px 0 4px 0;
	font-size: 18px;
	clear: both;
}

#passphrase {
	border: 1px solid #575757;
	width: 100%;
	max-width: 100%;
	height: 120px;
	margin-bottom: 4px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	-webkit-appearance: none;
	border-radius: 4px;
	padding: 8px;
	font-size: 16px;
}

textarea {
	font-family: Arial, Helvetica, sans-serif;
}

#random {
	float: left;
	text-align: center;
	margin-bottom: 24px;
}

.fd-zone {
	position: relative;
	overflow: hidden;
}

.fd-zone.over { 
 	border-color: maroon; background: #72FFA7; 
}

.fd-file {
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
	padding: 0;
	margin: 0;
	filter: alpha(opacity=0);
}


.formsubmit {
	border: 1px solid #575757;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	-webkit-appearance: none;
	border-radius: 4px;
	height: 40px;
	width: 100px;
	background: #FFFFFF;
	color: #000000;
	font-size: 16px;
	padding: 0;
	line-height: 40px;
	cursor: pointer;
}

#filebutton {
	float: right;
	position: relative;
	display: inline-block;
	text-align: center;
	overflow: hidden;
	cursor: pointer;
}

#file {
	display: block !important;
	width: 100px !important;
	height: 40px !important;
	opacity: 0 !important;
	overflow: hidden !important;
	filter: alpha(opacity=0);
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

#mode {
	overflow: auto;
	width: 420px;
	border: 1px solid #575757;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    border-radius: 4px;
}

#personal, #generic {
	border-left: 1px solid #575757;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.modebutton {
	width: 33.3333%;
	line-height: 40px;
	font-size: 17px;
	font-weight: 200;
	float: left;
	background: none;
	cursor: pointer;
	text-align: center;
}

#saltinfo {
	font-size: 14px;
	margin-top: 4px;
	color: #666666;
}

.active {
	background: #F1F1F1;
	box-shadow: inset 0 4px 10px #D4D4D4;
}

.saltinput {
	display: block;
	border: 1px solid #575757;
	width: 100%;
	margin: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	-webkit-appearance: none;
	border-radius: 4px;
	padding: 8px;
	font-size: 16px;

}

#personalsalt, #genericsalt {
	display: none;
}

#submit {
	margin-top: 24px;
}

#progressbar {
	height: 12px;
	margin-top: 24px;
	background: #575757;
	width: 0%;
}

#result {
  	display:none;
}

.resultlabel {
	margin: 32px 0 4px 0;
	font-size: 24px;
}

#addr {
  	margin: 8px 0;
  	font-size: 18px;
}

#print {
	margin-top: 24px;
	text-align: center;

}
#print a {
	text-decoration: none;
	color: #000000;
}

#about {
	background: #EEEEEE;
	width: 100%;
}

#footer {
	font-size: 16px;
	line-height: 48px;
}
#footer p {
	margin: 0;
}
#footer a {
	margin: 0;
	text-decoration: none;
}
#footer a:visited {
	text-decoration: none;
}

#footerleft {
 	float: left;
}

#footerright {
 	float: right;
 	text-align: right;
}

@media screen and (max-width: 800px) {
	.outer {width: 100%;}
	.inner {padding: 0 12px;}	
	#private {font-size: 14px;}
}

@media screen and (max-width: 480px) {
	.outer {width: 100%;}
	.inner {padding: 0 12px;}	
	#private {font-size: 12px;}
	#about {font-size: 14px;}
	#mode {width: 100%;}
	.modebutton {font-size: 15px;}
}

@media screen and (max-width: 400px) {	
	#addr {font-size: 16px;}
	#private {font-size: 10px;}
}

@media screen and (max-width: 360px) {	
	#addr {font-size: 14px;}
	#private {font-size: 9px;}
	.modebutton {font-size: 13px;}
}